<h2>Hola, soy la página de contacto</h2>
<form action="">
    <p>
        <label for="">Nombre</label>
        <input type="text">
    </p>
    <p>
        <input type="submit" value="Enviar">
    </p>
</form>