<h1>Hola, soy la página de galería</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolores, at quibusdam nulla totam quisquam adipisci
    ipsum velit est nemo assumenda porro officiis, explicabo numquam, magni iure incidunt laudantium magnam.</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est ex repellat magnam dignissimos obcaecati? Ut cum, id
    excepturi expedita repudiandae, nisi saepe, dolorum exercitationem maiores iusto ipsam aut amet mollitia!</p>
<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus eius in aspernatur pariatur quasi magnam quis iusto
    voluptates, maxime dolor voluptatum fugiat, laboriosam veritatis libero, nesciunt quas quae odit provident?</p>